body {
    text-align: center;
}

h1 {
    color: rgb(255, 0, 247);
    background-color: black;
    display: inline-block;
    padding: 10px;
}

.ppl {
    margin: 0 auto; 
}

.ppl td, .ppl th {
    padding: 10px;
    text-align: left;
}